# EditorConfig is awesome: https://editorconfig.org

# 根配置文件，指示 EditorConfig 应该在此文件夹及其子文件夹中查找配置
root = true

# JavaScript 和 TypeScript 文件的配置
[*.{js,ts,tsx,jsx}]
indent_style = space       # 使用空格缩进
indent_size = 2            # 每级缩进使用 2 个空格
max_line_length = 80       # 每行最大字符数为 80
charset = utf-8            # 字符集为 UTF-8
end_of_line = lf           # 行尾使用 LF（Linux 风格换行符）
