body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #f5f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  50% { opacity: 0.3; }
}
